
<div style="margin-bottom: 25px;padding-bottom: 5px;"></div>
<div 
class="m-2 cart"
id="cart"
>
    <header tuiTitle>
        Cart
    </header>

    <div style="width:100%"> 
        <tui-badge appearance="accent" class="m-2">
            <span tuiTitle>5 products</span>
        </tui-badge>
        <span appearance="accent" class="right floated star icon m-1" style="align-self: flex-end;" tuiBadge>
            <h2 tuiTitle>Totlal $400
            </h2>
        </span>
    </div>
    <gallery 
    id="myGallery" 
    counter counterPosition="top" 
    thumbs 
    thumbPosition="left"
    bullets bulletPosition="bottom"
    loop
    autoplay
    autoplayInterval="4000"
    orientation="vertical"
    itemAutosize
    loadingStrategy="preload"
    loadingAttr="eager" 
    style="background-color: transparent;" />
    <div class="">
        <form [formGroup]="cartQuantity" class="m-2" size="s" >
            <tui-input-number formControlName="quantity" tuiTextfieldSize="m" appearance="accent">
                <span style="color:black" tuiTitle>Quantity</span>
            </tui-input-number>
        </form>
        <div style="display:flex">
            <ngx-colors 
                ngx-colors-trigger 
                [palette]="colorPalette" 
                [(ngModel)]="selectedColor" 
                [hideColorPicker]="true" 
                [hideTextInput]="true"
            >
            </ngx-colors>
            <span style="color:yellow;margin-left:10px;line-height: 33px;">Choose a color</span>
        </div>
    
    </div>

    <div class="flex-row d-flex justify-content-sm-start m-2">
    
        <div class="" style="width: 100%;">
            <table tuiTable [columns]="columns">
                <thead tuiThead>
                    <tr tuiThGroup>
                        <th 
                        tuiTh
                        [resizable]="true">
                            Name
                        </th>
                        <th
                        
                        tuiTh>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody tuiTbody 
                [data]="data">
                    <tr tuiTr *ngFor="let item of data">
                        <td *tuiCell="'description'">
                            {{item.descriprion|async}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="description">
                <h2 tuiTitle>
                    Description
                    <p tuiSubtitle>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam natus alias ducimus quos amet eligendi non tempora quia iusto cupiditate porro architecto blanditiis culpa dicta pariatur hic, nam ut facilis.
                    </p>
                </h2>
            </div>
        </div>
        <div class=" ">
            
            <div class="inventory" *ngFor="let item of items">
                <section class="flex-row d-flex justify-content-sm-start m-2">
                    <div  class="m-1" >
                        <img src="{{item}}" alt="" style="width: 10rem;height: 10rem;filter: drop-shadow(1px 1px rgb(223, 223, 193));border-radius: 15px;">
                    </div>
                    
                    <div  class="m-1" >
                        <h3 tuiTitle>Laptop
                            <p tuiSubtitle>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, exercitationem. Nobis dolorem vero ab optio porro nam atque! Quod enim dolor facere id? Modi sequi beatae rerum laboriosam cupiditate aut!
                            </p>
                            <div tuiButtonGroup>
                                <button type="button">
                                    <tui-icon icon="@tui.trash" />
                                </button>
                            </div>
                        </h3>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- <gallery style="background-color: aliceblue;" id="myGallery" thumbPosition="top"></gallery> -->