<div class="container flex">
    <div style="background:url('./images/clothe3.jpg')no-repeat 50%/cover;height: 100%;margin-bottom: 2px;">
        <a class="ui small right ribbon label" [style.background-color]="'yellow'">
            Quick Sales
        </a>
        <div>
            <a class="ui large yellow left corner label" [style.background-color]="'yellow'">
                <i class="ui black tags icon"></i>
            </a>
        </div>
      <div class="content">
        <h2>Jane Doe</h2>
        <span>UI & UX Designer</span>
      </div>
    </div>
    <div style="background:url('./images/clothe2.jpg')no-repeat 50%/cover">
        <div>
            <a class="ui large yellow left corner label">
                <i class="ui black award icon"></i>
            </a>
        </div>
      <div class="content">
        <h2>Alex Smith</h2>
        <span>CEO Expert</span>
      </div>
    </div>
    <div style="background:url('./images/clothe3.jpg')no-repeat 50%/cover">
        <div>
            <a class="ui large yellow left corner label">
                <i class="ui black shipping fast icon"></i>
            </a>
        </div>
      <div class="content">
        <h2>Emily New</h2>
        <span>Web Designer</span>
      </div>
    </div>
    <div style="background:url('./images/clothe4.jpg')no-repeat 50%/cover">
        <div>
            <a class="ui large yellow left corner label">
                <i class="ui black bolt icon"></i>
            </a>
        </div>
      <div class="content">
        <h2>Lisa Boley</h2>
        <span>Marketing Coordinator</span>
      </div>
    </div>
    <section class="side m-auto" style="color:aliceblue;position: relative;flex:2">
        <section class="row m-auto">
            <div class="col-sm-4">
                <span style="color:whitesmoke">Marketing Coordinator</span>
                <img src="./images/clothe10.jpg" alt="" height="100px">
            </div>
            <div class="col-sm-4" tyle="color:whitesmoke">
                <span>Marketing Coordinator</span>
                <img src="./images/clothe10.jpg" alt="" height="100px">
            </div>
            <div class="col-sm-4" tyle="color:whitesmoke">
                <span>Marketing Coordinator</span>
                <img src="./images/clothe10.jpg" alt="" height="100px">
            </div>
        </section>
        <section class="row m-auto" style="align-items: center;align-content: center;justify-self: center;justify-content: center;">
            <div class="col-sm-6 m-auto"  style="color:aliceblue;position: relative;flex:1 0 120px">
                <span style="color:whitesmoke">Marketing Coordinator</span>
                <img src="./images/clothe10.jpg" alt="" height="200px">
            </div>
            <div class="col-sm-6 m-auto" tyle="color:whitesmoke">
                <span>Marketing Coordinator</span>
                <img src="./images/clothe10.jpg" alt="" height="200px">
            </div>
        </section>
        app-collection-grid
    </section>
  </div>