<div class="container flex">
    <div 
    data-augmented-ui="l-round-y r-round-y"
     style="background:url('./images/clothe3.jpg')no-repeat 50%/cover;height: 100%;margin-bottom: 2px;">
        <div>
            <a class="ui large yellow left corner label" [style.background-color]="'yellow'">
                <i class="ui black tags icon"></i>
            </a>
        </div>
      <div class="content f-card">
        <h2>dress</h2>
        <span>Gorgeous dress</span>
      </div>
    </div>
    <div 
    data-augmented-ui="l-round-y r-round-y" 
    style="background:url('./images/clothe2.jpg')no-repeat 50%/cover">
        <div>
            <a class="ui large yellow left corner label">
                <i class="ui black award icon"></i>
            </a>
        </div>
      <div class="content">
        <h2>sun glasses</h2>
        <span>So attractive</span>
      </div>
    </div>
    <div 
    data-augmented-ui="l-round-y r-round-y"
    style="background:url('./images/clothe3.jpg')no-repeat 50%/cover">
        <div>
            <a class="ui large yellow left corner label">
                <i class="ui black shipping fast icon"></i>
            </a>
        </div>
      <div class="content">
        <h2>Designer shirt</h2>
        <span>So fashionable</span>
      </div>
    </div>
    <div 
    data-augmented-ui="l-round-y r-round-y"
    style="background:url('./images/clothe4.jpg')no-repeat 50%/cover">
        <div>
            <a class="ui large yellow left corner label">
                <i class="ui black bolt icon"></i>
            </a>
        </div>
      <div class="content">
        <h2>50% offers</h2>
        <span>Grab yours today</span>
      </div>
    </div>
    <section class="side content m-auto" style="color:aliceblue;position: relative;flex:2">
      <section  
      class="side vid" style="color:aliceblue;flex:2">
        <iframe 
        data-augmented-ui="l-round-y r-round-y"
        src="https://player.vimeo.com/video/1007391712?background=1" frameborder="0" allow="autoplay" width="100%" allowfullscreen l style="align-self: center;box-shadow: 4px 3px 5px transparent;filter: drop-shadow(16px 16px 20px  black);filter: contrast(200%);overflow-x: hidden;" width="650" height="400" class="d-flex">              
        </iframe>

        <script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    </section>
  </div>