
<header tuiNavigationHeader>
    <button
    [style.color]=" 'yellow' "
    iconStart="@tui.chevron-down"
    size="s"
    tuiIconButton
    ></button>
    <span tuiNavigationLogo>
        <tui-icon appearance="warning" [style.color]=" 'yellow' " icon="@tui.shopping-bag"/>
        <span tuiFade [style.color]=" 'aliceblue' ">Quick Store</span>
    </span>
    <button
    [tuiDropdown]="more"
    tuiButton
    tuiChevron
    tuiDropdownOpen
    tuiDropdownmanual="true"
    [style.color]=" 'yellow' "
    >
        <span tuiFade [style.color]=" 'aliceblue' ">Find</span>
    </button>
    <ng-template id="more" #more>
        <tui-data-list size="s">
            <button tuiOption>
                Offers
            </button>
            <button tuiOption>
                Featured     
            </button>
        </tui-data-list>
    </ng-template>
    <form action="" class="d-flex m-auto">
        <tui-input
        tuiTextfieldSize="s"
        [tuiTextfieldCleaner]="true"
        tuiTextfieldIconLeft="@tui.search"
        [formControl]="search"
        [style.width]="'30rem'"  
        >
            Search
            <input 
            tuiTextfieldLegacy
            />
        </tui-input>
    </form>
    <button
    tuiButton
    iconStart="@tui.shopping-cart"
    [style.color]=" 'yellow' "
    >
    <sup>
        <tui-badge size="s" [style.background-color]=" 'maroon' ">5</tui-badge>
    </sup>
        <span tuiFade [style.color]=" 'aliceblue' ">Cart</span>
    </button>
    <button
    tuiButton
    iconStart="@tui.user"
    [style.color]=" 'yellow' "
    >
        <sup>
            <tui-badge size="s" [style.background-color]=" 'maroon'" [style.zoom]="'40%'"></tui-badge>
        </sup>
        <span tuiFade [style.color]=" 'aliceblue' ">
            Profile
        </span>
    </button>
    <button
    tuiButton
    iconStart="@tui.bell"
    [style.color]=" 'yellow' "
    >
    <sup>
        <tui-badge size="s" [style.background-color]=" 'maroon' ">1</tui-badge>
    </sup>
    </button>
</header>

<div [style.display]=" 'flex' " >
    <aside [tuiNavigationAside]="expanded" [style.border-radius]=" '4px' ">
        <header>
            <a routerLink="" tuiAsideItem>
                <tui-icon 
                icon="@tui.home"
                [style.color]=" 'yellow' "
                >
                </tui-icon>
                <span tuiFade>Home</span>
            </a>
        </header>
        <tui-aside-group>
            <a href="" 
            tuiAsideItem 
            tuiChevron
            >
                <tui-icon
                icon="@tui.grid-3x3"
                [style.color]=" 'yellow' "
            >               
                <ng-template>
                    <button tuiAsideItem>Women clothes</button>
                    <button tuiAsideItem>Men clothes</button>
                    <button tuiAsideItem>Kids clothes</button>
                </ng-template>
            </tui-icon>
            <span tuiFade>Categories</span>
            </a>
        </tui-aside-group>
          <a routerLink="orders" tuiAsideItem>
            <tui-icon 
            icon="@tui.clipboard"
            [style.color]=" 'yellow' "
            > 
          </tui-icon>
          <span tuiFade>Orders</span> 
          </a>
          <a routerLink="offers" tuiAsideItem>
            <tui-icon     
            icon="@tui.gift"
            [style.color]="'yellow'"
            >  
          </tui-icon>
          <span tuiFade>Offers</span>
          </a>
          <a routerLink="filter" tuiAsideItem>
            <tui-icon 
            [style.color]="'yellow'"
            icon="@tui.sliders-horizontal"
            [style.background]=" 'linear-gradient(135deg,black 60%,yellow)' "
            >  
          </tui-icon>
          <span tuiFade>Filter</span>
          </a>
          <a routerLink="brands" tuiAsideItem> 
            <tui-icon  
            icon="@tui.tag"
            [style.color]="'yellow'"
            >  
          </tui-icon>
          <span tuiFade>Brands</span>
          </a>
          <a routerLink="messages" tuiAsideItem>
            <tui-icon 
            icon="@tui.mail"
            [style.color]="'yellow'"
            >
          </tui-icon>
          <span tuiFade>Messages</span>
          </a>
          <a 
            tuiAsideItem routerLink="help"
            >
            <tui-icon 
            icon="@tui.pen-tool"
            [style.color]="'yellow'"></tui-icon>
            <span tuiFade [style.color]=" 'ghostwhite' ">Help</span>
          </a>
          <a tuiAsideItem>
            <tui-icon 
            icon="@tui.dollar-sign"
            [style.color]="'yellow'"
            ></tui-icon>
            <span tuiFade>Change currency</span>
          </a>
          <a tuiAsideItem>
            <tui-icon            
            icon="@tui.credit-card"
            [style.color]="'yellow'"
            >
          </tui-icon>
          <span tuiFade>Add Payment method</span>
          </a>
          <a tuiAsideItem>
            <tui-icon            
            icon="@tui.flag"
            [style.color]="'yellow'"
            > 
          </tui-icon>
          <span tuiFade>Flag</span>
          </a>
          <a tuiAsideItem>
            <tui-icon  
            icon="@tui.bookmark"
            [style.color]="'yellow'"
            >
          </tui-icon>
          <span tuiFade>Favourites</span>
          </a>
          <hr>
          <tui-aside-group>
            <a tuiAsideItem
            tuiChevron>
                <tui-icon
                icon="@tui.settings"   
                [style.color]="'yellow'"            
            >
                <ng-template>
                    <button tuiAsideItem>Account</button>
                    <button tuiAsideItem>Notifications</button>
                    <button tuiAsideItem>Privacy</button>
                </ng-template>
            </tui-icon>
            <span tuiFade>Settings</span>
            </a>
        </tui-aside-group>
        <footer>
            <a href="" tuiAsideItem>
                <tui-icon
                icon="@tui.user-plus"
                [style.color]="'yellow'"
            ></tui-icon>
            <span tuiFade>Following</span>
            </a>
            
            <button
                tuiAsideItem
                [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
                (click)="expanded = !expanded"
            >
                {{ expanded ? 'Collapse' : ' ' }}
            </button>
        </footer>
    </aside>
</div>
<main tuiNavigationMain>
    <nav tuinavigationNav [style.position]=" 'sticky' ">
        Home, Login, Signup
        <router-outlet></router-outlet>
    </nav>
</main>

