button{
    color:yellow;
}
tui-navigation aside tui-button {
    /* Your custom styles here */
    background-color: #2282c2; /* Example: Background color */
    color: red;               /* Example: Text color */
    border-radius: 4px;        /* Example: Border radius */
  }