
<header tuiNavigationHeader [style.position]=" 'fixed' " class="header">
    
    <button
    [style.color]=" 'yellow' "
    iconStart="@tui.chevron-down"
    size="s"
    tuiIconButton
    ></button>
    <span tuiNavigationLogo>
        <tui-icon appearance="warning" [style.color]=" 'yellow' " icon="@tui.shopping-bag"/>
        <span tuiFade [style.color]=" 'aliceblue' ">Quick Store</span>
    </span>
    <button
    [tuiDropdown]="more"
    tuiButton
    tuiChevron
    tuiDropdownOpen
    tuiDropdownmanual="true"
    [style.color]=" 'yellow' "
    >
        <span tuiFade [style.color]=" 'aliceblue' ">Find</span>
    </button>
    <ng-template id="more" #more>
        <tui-data-list size="s">
            <button tuiOption>
                Offers
            </button>
            <button tuiOption>
                Featured     
            </button>
        </tui-data-list>
    </ng-template>
    <form class="d-flex m-auto">
        <tui-input
        tuiTextfieldSize="s"
        [tuiTextfieldCleaner]="true"
        tuiTextfieldIconLeft="@tui.search"
        [formControl]="search"
        [style.width]="'30rem'"  
        >
            Search
            <input 
            tuiTextfieldLegacy
            />
        </tui-input>
    </form>
    <button
    tuiButton
    iconStart="@tui.shopping-cart"
    [style.color]=" 'yellow' "
    >
    <sup>
        <tui-badge size="s" [style.background-color]=" 'maroon' ">5</tui-badge>
    </sup>
        <span tuiFade [style.color]=" 'aliceblue' ">Cart</span>
    </button>
    <button
    tuiButton
    iconStart="@tui.user"
    [style.color]=" 'yellow' "
    >
        <sup>
            <tui-badge size="s" [style.background-color]=" 'maroon'" [style.zoom]="'40%'"></tui-badge>
        </sup>
        <span tuiFade [style.color]=" 'aliceblue' ">
            Profile
        </span>
    </button>
    <button
    tuiButton
    iconStart="@tui.bell"
    [style.color]=" 'yellow' "
    >
    <sup>
        <tui-badge size="s" [style.background-color]=" 'maroon' ">1</tui-badge>
    </sup>
    </button>
</header>

<div [style.display]=" 'flex' " class="main">
    <aside [tuiNavigationAside]="expanded" [style.height]=" 'fit-content' " class="main">
        <header>
            <a routerLink="" tuiAsideItem>
                <tui-icon 
                icon="@tui.home"
                [style.color]=" 'yellow' "
                >
                </tui-icon>
                <span tuiFade>Home</span>
            </a>
        </header>
        <tui-aside-group>
            <a href="" 
            tuiAsideItem 
            tuiChevron
            >
                <tui-icon
                icon="@tui.grid-3x3"
                [style.color]=" 'yellow' "
            >               
                <ng-template>
                    <button tuiAsideItem>Women clothes</button>
                    <button tuiAsideItem>Men clothes</button>
                    <button tuiAsideItem>Kids clothes</button>
                </ng-template>
            </tui-icon>
            <span tuiFade>Categories</span>
            </a>
        </tui-aside-group>
          <a routerLink="orders" tuiAsideItem>
            <tui-icon 
            icon="@tui.clipboard"
            [style.color]=" 'yellow' "
            > 
          </tui-icon>
          <span tuiFade>Orders</span> 
          </a>
          <a routerLink="offers" tuiAsideItem>
            <tui-icon     
            icon="@tui.gift"
            [style.color]="'yellow'"
            >  
          </tui-icon>
          <span tuiFade>Offers</span>
          </a>
          <a routerLink="filter" tuiAsideItem>
            <tui-icon 
            [style.color]="'yellow'"
            icon="@tui.sliders-horizontal"
            [style.background]=" 'linear-gradient(135deg,black 60%,yellow)' "
            >  
          </tui-icon>
          <span tuiFade>Filter</span>
          </a>
          <a routerLink="brands" tuiAsideItem> 
            <tui-icon  
            icon="@tui.tag"
            [style.color]="'yellow'"
            >  
          </tui-icon>
          <span tuiFade>Brands</span>
          </a>
          <a routerLink="messages" tuiAsideItem>
            <tui-icon 
            icon="@tui.mail"
            [style.color]="'yellow'"
            >
          </tui-icon>
          <span tuiFade>Messages</span>
          </a>
          <a 
            tuiAsideItem routerLink="help"
            >
            <tui-icon 
            icon="@tui.pen-tool"
            [style.color]="'yellow'"></tui-icon>
            <span tuiFade [style.color]=" 'ghostwhite' ">Help</span>
          </a>
          <a tuiAsideItem>
            <tui-icon 
            icon="@tui.dollar-sign"
            [style.color]="'yellow'"
            ></tui-icon>
            <span tuiFade>Change currency</span>
          </a>
          <a tuiAsideItem>
            <tui-icon            
            icon="@tui.credit-card"
            [style.color]="'yellow'"
            >
          </tui-icon>
          <span tuiFade>Add Payment method</span>
          </a>
          <a tuiAsideItem>
            <tui-icon            
            icon="@tui.flag"
            [style.color]="'yellow'"
            > 
          </tui-icon>
          <span tuiFade>Flag</span>
          </a>
          <a tuiAsideItem>
            <tui-icon  
            icon="@tui.bookmark"
            [style.color]="'yellow'"
            >
          </tui-icon>
          <span tuiFade>Favourites</span>
          </a>
          <hr>
          <tui-aside-group>
            <a tuiAsideItem
            tuiChevron>
                <tui-icon
                icon="@tui.settings"   
                [style.color]="'yellow'"            
            >
                <ng-template>
                    <button tuiAsideItem>Account</button>
                    <button tuiAsideItem>Notifications</button>
                    <button tuiAsideItem>Privacy</button>
                </ng-template>
            </tui-icon>
            <span tuiFade>Settings</span>
            </a>
        </tui-aside-group>
        
        <footer>
            <a href="" tuiAsideItem>
                <tui-icon
                icon="@tui.user-plus"
                [style.color]="'yellow'"
            ></tui-icon>
            <span tuiFade>Following</span>
            </a>
            
            <button
                tuiAsideItem
                [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
                (click)="expanded = !expanded"
            >
                {{ expanded ? 'Collapse' : ' ' }}
            </button>
        </footer>
    </aside>

    <span [style.background]="'aliceblue'" >
        <main tuiNavigationMain class="main">
            <!-- style="background:url('./images/Guitar.jpg');background-repeat: no-repeat;background-size: cover;" -->
            <span size="s" class="transit flex row">
                <div class="mb-5 p-3"></div>

                <section class="row mb-2">
                    <div class="col-md-3 flex" >
                        <img src="/images/Guitar.jpg" height="200px" width="100%" alt="">
                    </div>
                    <div class="col-md-3 flex" >
                        <img src="/images/Guitar.jpg" height="200px" width="100%" alt="">
                    </div>
                    <div class="col-md-3 flex" >
                        <img src="/images/Guitar.jpg" height="200px" width="100%" alt="">
                    </div>
                    <div class="col-md-3 flex" >
                        <img src="/images/Guitar.jpg" height="200px" width="100%" alt="">
                    </div>
                </section>
                               
                <div class="container flex">
                    <section class="side">
                        <h1>
                            Shop with us
                        </h1>
                    </section>
        
                    <div style="background:url('./images/clothe3.jpg')no-repeat 50%/cover;height: 100%;margin-bottom: 2px;">
                        <a class="ui small right ribbon label" [style.background-color]="'yellow'">
                            Quick Sales
                        </a>
                        <div>
                            <a class="ui large yellow left corner label" [style.background-color]="'yellow'">
                                <i class="ui black tags icon"></i>
                            </a>
                        </div>
                      <div class="content">
                        <h2>Jane Doe</h2>
                        <span>UI & UX Designer</span>
                      </div>
                    </div>
                    <div style="background:url('./images/clothe2.jpg')no-repeat 50%/cover">
                        <div>
                            <a class="ui large yellow left corner label">
                                <i class="ui black award icon"></i>
                            </a>
                        </div>
                      <div class="content">
                        <h2>Alex Smith</h2>
                        <span>CEO Expert</span>
                      </div>
                    </div>
                    <div style="background:url('./images/clothe3.jpg')no-repeat 50%/cover">
                        <div>
                            <a class="ui large yellow left corner label">
                                <i class="ui black shipping fast icon"></i>
                            </a>
                        </div>
                      <div class="content">
                        <h2>Emily New</h2>
                        <span>Web Designer</span>
                      </div>
                    </div>
                    <div style="background:url('./images/clothe4.jpg')no-repeat 50%/cover">
                        <div>
                            <a class="ui large yellow left corner label">
                                <i class="ui black bolt icon"></i>
                            </a>
                        </div>
                      <div class="content">
                        <h2>Lisa Boley</h2>
                        <span>Marketing Coordinator</span>
                      </div>
                    </div>
                    <section class="side m-auto" style="color:aliceblue;position: relative;flex:2">
                        <section class="row m-auto">
                            <div class="col-sm-4">
                                <span style="color:whitesmoke">Marketing Coordinator</span>
                                <img src="./images/clothe10.jpg" alt="" height="100px">
                            </div>
                            <div class="col-sm-4" tyle="color:whitesmoke">
                                <span>Marketing Coordinator</span>
                                <img src="./images/clothe10.jpg" alt="" height="100px">
                            </div>
                            <div class="col-sm-4" tyle="color:whitesmoke">
                                <span>Marketing Coordinator</span>
                                <img src="./images/clothe10.jpg" alt="" height="100px">
                            </div>
                        </section>
                        <section class="row m-auto" style="align-items: center;align-content: center;justify-self: center;justify-content: center;">
                            <div class="col-sm-6 m-auto"  style="color:aliceblue;position: relative;flex:1 0 120px">
                                <span style="color:whitesmoke">Marketing Coordinator</span>
                                <img src="./images/clothe10.jpg" alt="" height="200px">
                            </div>
                            <div class="col-sm-6 m-auto" tyle="color:whitesmoke">
                                <span>Marketing Coordinator</span>
                                <img src="./images/clothe10.jpg" alt="" height="200px">
                            </div>
                        </section>
                    </section>
                  </div>                        
            </span>
            
            <nav 
            tuiNavigationNav 
            [style.position]="'sticky'"
            style="margin-top: 0px;"
            >
                <a routerLink=".">
                    <tui-icon icon="@tui.chevron-left"/>
                    Back
                </a>   
                <a routerLink=".">
                    <tui-icon icon="@tui.chevron-left"/>
                    Back
                </a>
                <a routerLink=".">
                    <tui-icon icon="@tui.chevron-left"/>
                    Back
                </a>    
            </nav>
            <!-- carouse -->
            <section class="row mb-2" style="position:static;zoom: 60%;">
                <div class="col-md-3 flex" >
                    <img src="/images/Guitar.jpg" height="200px" width="100%" alt="">
                </div>
                <div class="col-md-3 flex" >
                    <img src="/images/Guitar.jpg" height="200px" width="100%" alt="">
                </div>
                <div class="col-md-3 flex" >
                    <img src="/images/Guitar.jpg" height="200px" width="100%" alt="">
                </div>
                <div class="col-md-3 flex" >
                    <img src="/images/Guitar.jpg" height="200px" width="100%" alt="">
                </div>
            </section>
            <!--  -->
            <h4 style="justify-content: center;color: aliceblue;">Categories</h4>
            <section>
                <div class="ui horizontal divider" style="color: aliceblue;">Home appliances</div>
                <section class="row" style="justify-content: baseline;align-items: center;">
                    <div
                    class="col-sm-3 d-flex m-2"
                    *tuiRepeatTimes="let index of 6"
                    tuiCardLarge
                    tuiHeader
                    tuiSurface="elevated"
                >
                    <h2 tuiTitle>
                        Some random content
                        <span tuiSubtitle>A subtitle</span>
                    </h2>
                </div>
                </section>
                <section class="row" style="justify-content: baseline;align-items: center;">
                    <div
                    class="col-sm-4 d-flex m-2"
                    *tuiRepeatTimes="let index of 6"
                    tuiCardLarge
                    tuiHeader
                    tuiSurface="elevated"
                >
                    <h2 tuiTitle>
                        Some random content
                        <span tuiSubtitle>A subtitle</span>
                    </h2>
                </div>
                </section>
            </section>

            <div class="ui horizontal divider" style="color: aliceblue;">Home appliances</div>
            
            <section class="row" style="justify-content: baseline;align-items: start;">
                <div
                class="col-md-2 d-flex m-2"
                *tuiRepeatTimes="let index of 7"
                tuiCardLarge
                tuiHeader
                tuiSurface="elevated"
            >
                <h2 tuiTitle>
                    Some random content
                    <span tuiSubtitle>A subtitle</span>
                </h2>
            </div>
            </section>
            <section class="row" style="justify-content: baseline;align-items: start;">
                <div
                class="col-md-3 d-flex m-2"
                *tuiRepeatTimes="let index of 8"
                tuiCardLarge
                tuiHeader
                tuiSurface="elevated"
            >
                <h2 tuiTitle>
                    Some random content
                    <span tuiSubtitle>A subtitle</span>
                </h2>
            </div>
            </section>

        </main>
    </span>
</div>


<router-outlet></router-outlet>
